var config = {}

var apps = {
  'prod': {
    app_id: '',
    secret: ''
  },
  'dev': {
    app_id: 'xxxxxxxxx',
    secret: 'xxxxxxxxx'
  }
}

config.app = apps['dev'];
config.FACEBOOK_HOST = 'graph.facebook.com';
config.DEV_MODE = true;
config.ON_A_PLANE = true;

module.exports = config;
