var config = {}

var apps = {
  'prod': {
    app_id: '',
    secret: '',
    host:   '',
    port:   ''
  },
  'dev': {
    app_id: 'xxxxxxxxx',
    secret: 'xxxxxxxxx',
    host:   '127.0.0.1',
    port:   '8000'
  }
}

config.app = apps['dev'];

module.exports = config;
