/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar .user-details {
  margin-top: 10px; /* Can probably fix this better some other way? */
}

.navbar .user-details .logged-in img {
  width: 23px;
}

.center {
  text-align: center;
}

.qr {
  width: 360px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* Booth */
#qr-canvas {
  display: none;
}

#QRScanner, #QRScanner video {
  width: 330px;
  height: 240px;
}

.well.profile_pic {
  width: 180px;
  display: inline-block;
}