<div class="main container">
  <div class="row-fluid">
    <div class="span4" ></div>
    <div class="span4 center" >
      <h2>Welcome to NQP!</h2>
      <p>Scan the code by holding it at the camera</p>
    </div>
    <div class="span4" >
      <div class="well">
        <div id="QRScanner">
          <video id="video" autoplay></video>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>NQP App - <a href="https://github.com/mrtom/nqp">Fork me on Github!</a></p>
  </footer>

  <canvas id="qr-canvas" width="800" height="600" style="width:800px; height:600px;" />

</div>