<div class="navbar navbar-inverse navbar-fixed-top navbar-form">
  <div class="navbar-inner">
    <div class="container-fluid">
      <form class="navbar-form pull-right">
        <a id="logOutBooth" class="btn btn-inverse btn-small">Log out as <%= username %></a>
      </form>
    </div>
  </div>
</div>

<div class="main container">
  <div class="row-fluid">
    <div class="span3" >
      <div class="profile_pic well">
        <div >
          <img src="<%= profilePic %>"></img>
        </div>
      </div>
    </div>
    <div class="span9" >
      <div class="row-fluid">
        <div class="span8 center">
          <h2>Welcome <%= username %></h2>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9">
          <ul id="picProviderChooser" class="nav nav-pills">
            <li class="active">
              <a href="#fbpics" data-toggle="pill">Choose from Facebook</a>
            </li>
            <li>
              <a href="#takenew" data-toggle="pill">Take a New Photo</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="fbpics" class="tab-pane fade in active"></div>
            <div id="takenew" class="tab-pane fade"></div>
          </div>
        </div>
        <div class="span3" >
          <div class="appUsers"></div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>NQP App - <a href="https://github.com/mrtom/nqp">Fork me on Github!</a></p>
  </footer>

</div>