<div class="main container">
  <div class="row-fluid">
    <div class="span4" ></div>
    <div class="span4 center" >
      <h2>Welcome to NQP!</h2>
      <p>Scan your card to get started</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 offset3 well">
      <p>This is a demonstration of using <a href="https://developers.facebook.com/docs/howtos/login/devices/" target="blank">Facebook Device Auth</a> to integrate Facebook Platform with your existing loyalty or customer ID system.</p>
      <p>The technology is agnostic to the identification system used - it just needs to be a number unique to a user. For example, you could use a customer loyalty card number, a primary key from your user database or a user registration email address.</p>
      <p>Let's assume you have a store card for NQP, and there's a barcode scanner attached to this computer. You'd be asked to scan the card. Hit the button below to simulate scanning your card, or type into the input box first to reuse an existing code.</p>

      <div id="scanCardRow" class="center">
        <form class="form-inline">
          <div class="input-append">
            <input id="cardNumber" type="text" class="input-xlarge" placeholder="If you have a code, enter it here">
            <button id="scanCard" class="btn btn-inverse" type="button">Scan Card</button>
          </div>
        </form>
      </div>

      <div id="externalUIDRow" class="center">
        <h5 id="externalUID">Your card has ID <%= externalUID %>. Save this somewhere if you'd like to reuse it later.</h5>
      </div>
    </div>
  </div>

  <div id="deviceAuthCodeRow" class="row-fluid">
    <div class="span6 offset3 well center">
      <h1><span class="text-info"><%= deviceAuthCode %></span></h1>
      <p id="deviceAuthCode">Please enter <%= deviceAuthCode %> at <strong><%= deviceAuthVerificationURL %></strong> now</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>NQP App - <a href="https://github.com/mrtom/nqp">Fork me on Github!</a></p>
  </footer>
</div>