<div class="container">
  <div class="hero-unit">
    <h1>404</h1>
    <h2>Not Found</h2>
    <p class="apology">Well, this is awkward. We can't find the page you're looking for. Sorry about that</p>
    <p class="apology-context">Could not find anything fun to load at '<%= route %>'</p>
  </div>
</div>
<script>
  var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
</script>
<script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
